<h1>All Assignments</h1>

<% @assignments.each do |a| %><br>
   <%= link_to a.title, assignment_path(a) %><br>
    

<% end %><br><br>

<div>
<%= link_to "Create a New Assignment", new_assignment_path %><br>
<%= link_to "Logout", logout_path, method: :post %>
</div>