<h2> This is the show page </h2>
<h3> Welcome, <%= @current_user.username %><br/><br><br>


<%= link_to "Your Assignments", user_assignments_path(:user_id) %><br>
<%= link_to "Logout", logout_path, method: :post %>