<img src="/assets/tutor-logo.png" style="width:550px;height:500px;" class="center"></img>



<br>
<button><%= link_to "Sign up", new_user_path_url %></button>
<button><%= link_to "Log In", login_path_url %></button>
<br><br>
<%= button_to "Sign-In with Google", '/auth/google_oauth2' %>