<h1>Welcome to Tutor Assistant</h1>


<br>
<button><%= link_to "Sign up", new_user_path_url %></button>
<button><%= link_to "Log In", login_path_url %></button>
<br>
<%= button_to "Sign-In with Google", '/auth/google_oauth2' %>